<style>
  
    body {
      background-color: #DBF9FC;
      height: 125vh;  
  margin-top: 80px;  
  padding: 30px;  
  background-size: cover;  
  font-family: sans-serif;  
      }
  
  </style>
  



  
<h1> <b> <center>Funding projects</center> </b> </h1>
<br>
<br>
<h3> <i> Please enter the data of your fund  </i></h3>
<br>
<br>
<form action="" method="POST" enctype="multipart/form-data"> 
    {% csrf_token %} {{form.as_p}}
    <br>
    <br>
    <button type="submit">Save</button>
    <br>
    <br>
    <Br>
    <div class="donate-button" onclick="window.location.href = 'confirmationpage';"> Click here to continue! </div>

<form action="addfund/" method="post">
{% csrf_token %}

